EXECUTION_CHAIN_ID: 1337802

DO_DNS_ZONE_TOKEN:
DO_DNS_DOMAIN: kiln.themerge.dev

FAUCETH_HCAPTCHA_SITEKEY:
FAUCETH_HCAPTCHA_SECRET:
FAUCETH_APP_ETHKEY:

ETH_CLIENTS_AUTH_JWT: # Can be generated using `openssl rand -hex 32`
